* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --primary-color: #2980B9;
  color:#2980B9 ;
}


main {
  text-align: center;
  margin: 3rem;
}

.input-label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

  h1 {
    margin-bottom: 2rem;
    font-size: 2.3rem;
    background-color: var(--primary-color);
    color: white;
  }

  input {
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }
 
  .button{
    margin: 0.5rem auto;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2980B9;
    border: 2px solid var(--primary-color);
    background-color: white;

  }

  .output{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
  } 

  .output-img{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1rem;
  } 

  .image {
    max-width: 80%;
    display: block;
    width: 200px;
    margin: auto;
    max-height: 60%;
    height: 200px;
}

.footer{
  margin-top: 2rem;
  text-align: center;
  color: var(--primary-color);
}

.footer .footer-header{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem;
}

.footer .link{
  color: var(--primary-color);
  font-size: 1.8rem;
}

.footer ul{
  padding-inline-start: 0px;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}



.img-icon {
  width: 40px;
  padding: 0.3rem;
  height: 35px;
}
